doctype html
html( lang="ru" itemtype="https://schema.org/Person" itemscope )
  head


    title Андрей Ситник
    include ../head.pug
  body
    .layout
      .layout_globe
        .layout_language
          a.link( href="/en/index.pug" hreflang="en" rel="alternate" ) English
        h1.layout_title
          span( itemprop="givenName" ) Андрей
          = ' '
          span( itemprop="familyName" ) Ситник
      .layout_links
        .contacts
          div
            a.link( href="mailto:andrey@sitnik.ru" itemprop="email" )
              | andrey@sitnik.ru
            .contacts_notes
              a.link( href="https://keybase.io/iskin" itemprop="sameAs" )
                | PGP 1F710E4D
          div
            a.link( href="tel:+19143123913" itemprop="telephone" )
              | +1 914 312 3913
            .contacts_notes
              link( href="https://wa.me/19143123913" itemprop="sameAs" )


              link( href="weixin://dl/chat?andrey_sitnik" itemprop="sameAs" )


              a.link( href="https://t.me/sitnik" itemprop="sameAs" )
                | Телеграм
    script( src="/index.js" )
