doctype html
html( lang="ru" itemtype="https://schema.org/Person" itemscope )
  head
    title Андрей Ситник
    meta( name="description" content="Контакты и проекты Андрея Ситника" )
    include ../head.pug
  body
    .layout
      .layout_globe

        a.photo( href="/photo/andreysitnik.jpg" target="_blank" )
          picture.photo_image
            source( srcset="/photo/photo.webp" type="image/webp" )
            img.photo_image( src="/photo/photo.jpg" alt="Фотография Андрея Ситника" itemprop="image" )

        h1.layout_title
          span( itemprop="givenName" ) Андрей
          = ' '
          span( itemprop="familyName" ) Ситник

        .globe
          .globe_earth
            .globe_loading

          button.globe_location( itemprop="address" itemscope itemtype="https://schema.org/PostalAddress" tabindex="-1" )
            span( itemprop="addressLocality" ) Нью-Йорк
            = ', '
            span( itemprop="addressCountry" ) США

      .layout_links
  
        .contacts
          .contacts_contact
            a.link( href="mailto:andrey@sitnik.ru" itemprop="email" )
              | andrey@sitnik.ru
            .contacts_notes
              a.link( href="https://keybase.io/iskin" itemprop="sameAs" title="Публичный ключ GnuPG, чтобы проверить мою подпись или отправить мне шифрованное сообщение" )
                | GPG 1F710E4D
          .contacts_contact
            a.link.is-text( href="tel:+19143123913" itemprop="telephone" )
              | +1 914 312 3913
            .contacts_notes.is-right
              link( href="https://wa.me/19143123913" itemprop="sameAs" )


              link( href="weixin://dl/chat?andrey_sitnik" itemprop="sameAs" )


              a.link( href="https://t.me/sitnik" itemprop="sameAs" )
                | Телеграм

        link( href="https://twitter.com/andreysitnik" itemprop="sameAs" )
        link( href="https://twitter.com/sitnikcode" itemprop="sameAs" )
        ul.projects
          li.projects_item
            h2.projects_title
              span.projects_name Моя лента
              ul.projects_links
                li.projects_link
                  a.link( href="https://vk.com/iskin" itemprop="sameAs" )
                    | ВКонтакте
                li.projects_link
                  a.link( href="https://twitter.com/andrey_sitnik" itemprop="sameAs" )
                    | Твиттер
            p
              | Мои заметки о сексе, путешествиях и технологиях
          li.projects_item
            h2.projects_title
              a.link( href="https://github.com/ai" itemprop="sameAs" )
                | Гитхаб
            p
              | Создал Автопрефиксер, PostCSS, Браузерслист, Nano ID и Size Limit
          li.projects_item( itemprop="worksFor" itemscope itemtype="http://schema.org/Organization" )
            h2.projects_title
              a.link( href="https://evilmartians.com/" itemprop="url" )
                | Злой марсианин
            p
              | Работаю ведущим фронтенд-разработчиком в Злых марсианах
            meta( itemprop="name" content="Злые марсиане" )
          li.projects_item
            h2.projects_title
              a.link( href="https://www.instagram.com/sitnikandrey/" itemprop="sameAs" )
                | Инстаграм
            p
              | Фотографии с путешествий и росписи тела хной
          li.projects_item
            h2.projects_title
              span.projects_name Однажды в Википедии
              ul.projects_links
                li.projects_link
                  a.link( href="https://vk.com/lostinwiki" )
                    | ВКонтакте
                li.projects_link
                  a.link( href="https://twitter.com/lost_in_wiki" )
                    | Твиттер
            p
              | Мой канал с интересными статьями из Википедии
          li.projects_item
            h2.projects_title
              span.projects_name Лингвопанк
              ul.projects_links
                li.projects_link
                  a.link( href="https://vk.com/linguopunk" )
                    | ВКонтакте
                li.projects_link
                  a.link( href="https://twitter.com/linguopunk_ru" )
                    | Твиттер
            p
              | Мой канал про необычные языки
              
      .layout_language
        a.link( href="/en/index.pug" hreflang="en" rel="alternate" ) English

    script( src="/index.js" )
