doctype html
html( lang="ru" itemtype="https://schema.org/Person" itemscope )
  head


    title Андрей Ситник
    include ../head.pug
  body
    .layout
      .layout_globe
        .layout_language
          a.link( href="/en/index.pug" hreflang="en" rel="alternate" ) English

        h1.layout_title
          span( itemprop="givenName" ) Андрей
          = ' '
          span( itemprop="familyName" ) Ситник

        .globe
          .globe_loading

      .layout_links
  
        .contacts
          div
            a.link( href="mailto:andrey@sitnik.ru" itemprop="email" )
              | andrey@sitnik.ru
            .contacts_notes
              a.link( href="https://keybase.io/iskin" itemprop="sameAs" title="Публичный ключ GnuPG, чтобы проверить мою подпись или отправить мне шифрованное сообщение" )
                | GPG 1F710E4D
          div
            a.link.is-text( href="tel:+19143123913" itemprop="telephone" )
              | +1 914 312 3913
            .contacts_notes.is-right
              link( href="https://wa.me/19143123913" itemprop="sameAs" )


              link( href="weixin://dl/chat?andrey_sitnik" itemprop="sameAs" )


              a.link( href="https://t.me/sitnik" itemprop="sameAs" )
                | Телеграм

        link( href="http://twitter.com/andreysitnik" itemprop="sameAs" )
        link( href="http://twitter.com/sitnikcode" itemprop="sameAs" )
        ul.projects
          li.projects_item
            h2.projects_title
              | Моя лента
              .projects_links
                a.link( href="https://vk.com/iskin" itemprop="sameAs" )
                  | ВКонтакте
                a.link( href="http://twitter.com/andrey_sitnik" itemprop="sameAs" )
                  | Твиттер
            p.projects_desc
              | Мои заметки о сексе, путешествиях и технологиях
          li.projects_item
            h2.projects_title
              a.link( href="https://github.com/ai" itemprop="sameAs" )
                | Гитхаб
            p.projects_desc
              | Создал Автопрефиксер, PostCSS, Браузерслист, Nano ID и Size Limit
          li.projects_item
            h2.projects_title
              a.link( href="https://www.instagram.com/sitnikandrey/" itemprop="sameAs" )
                | Инстаграм
            p.projects_desc
              | Фотографии с путешествий и росписи тела хной
          li.projects_item
            h2.projects_title
              | Однажды в Википедии
              .projects_links
                a.link( href="https://vk.com/lostinwiki" )
                  | ВКонтакте
                a.link( href="http://twitter.com/lost_in_wiki" )
                  | Твиттер
            p.projects_desc
              | Мой канал с интересными статьями из Википедии
          li.projects_item
            h2.projects_title
              | Лингвопанк
              .projects_links
                a.link( href="https://vk.com/linguopunk" )
                  | ВКонтакте
                a.link( href="http://twitter.com/linguopunk_ru" )
                  | Твиттер
            p.projects_desc
              | Мой канал про необычные языки
