doctype html
html( lang="ru" itemtype="https://schema.org/Person" itemscope )
  head
    title Андрей Ситник
    include ../head.pug
  body
    a( href="/en/index.pug" hreflang="en" rel="alternate" )
    .layout
      .layout_globe
        h1
          span( itemprop="givenName" ) Андрей
          = ' '
          span( itemprop="familyName" ) Ситник
      .layout_links
        .contacts
          a( href="mailto:andrey@sitnik.ru" itemprop="email" ) andrey@sitnik.ru
          a( href="tel:+19143123913" itemprop="telephone" ) +1 914 312 3913
    .text
    script( src="/index.js" )
