doctype html
html( lang="en" itemtype="https://schema.org/Person" itemscope )
  head
    script if(/^ru/.test(navigator.language))location.pathname='/ru'
    meta( charset="UTF-8" )
    title Andrey Sitnik
    meta( name="viewport" content="width=device-width" )
  body
