doctype html
html( lang="ru" itemtype="https://schema.org/Person" itemscope )
  head
    meta( charset="UTF-8" )
    title Андрей Ситник
    meta( name="viewport" content="width=device-width" )
  body
    h1
      span( itemprop="givenName" ) Андрей
      = ' '
      span( itemprop="familyName" ) Ситник
