.contacts
  display: flex
  justify-content: space-between
  font-size: 30px

.contacts_notes
  padding-top: 5px
  font-size: 16px
  text-align: right

.contacts :first-child .contacts_notes
  text-align: left

.contacts_separator
  display: inline-block
  width: 13px
