.contacts
  display: flex
  justify-content: space-between
  font-size: 40px

.contacts_notes
  padding-top: 5px
  font-size: 20px
  display: flex
  justify-content: space-between

.contacts_notes.is-right
  justify-content: flex-end
