.contacts
  display: flex
  justify-content: space-between
  font-size: 200%

.contacts_notes
  padding-top: 5px
  display: flex
  font-size: 50%
  justify-content: space-between

.contacts_notes.is-right
  justify-content: flex-end
