AddDefaultCharset UTF-8                                   
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/x-font-otf image/png image/jpeg
AddLanguage en .en
AddLanguage ru .ru
