!!! XML
%rdf:RDF{ 'xmlns' => "http://xmlns.com/foaf/0.1/", 'xmlns:rdf' => "http://www.w3.org/1999/02/22-rdf-syntax-ns#", 'xmlns:geo' => 'http://www.w3.org/2003/01/geo/wgs84_pos'}
  %Person{ 'rdf:about' => 'http://sitnik.ru/foaf.rdf#me' }
    %name{ 'xml:lang' => 'en' } Andrey Sitnik
    %firstName{ 'xml:lang' => 'en' } Andrey
    %family_name{ 'xml:lang' => 'en' } Sitnik
    %name{ 'xml:lang' => 'ru' } Андрей Ситник
    %firstName{ 'xml:lang' => 'ru' } Андрей
    %family_name{ 'xml:lang' => 'ru' } Ситник
    %nick A.I.
    %img{ 'rdf:resource' => 'http://sitnik.ru/photo.small.jpg' }/
    %homepage{ 'rdf:resource' => 'http://sitnik.ru/' }/
    %openid{ 'rdf:resource' => 'http://sitnik.ru/' }/
    %jabberID andrey@sitnik.ru
    %mbox{ 'rdf:resource' => 'mailto:andrey@sitnik.ru' }/
    %mbox_sha1sum 93e4fb33582b7ed95c3305ab9405757e24cc28b0
    %phone{ 'rdf:resource' => 'tel:+7-(911)-769-65-71' }/
    %based_near{ 'rdf:parseType' => 'Resource' }
      %geo:lat 59.919917
      %geo:long 30.466750
    %birthday 06-04
    %gender male
