!!! Strict
%html{ html_attrs('en') }
  %head
    %meta{'http-equiv' => 'Content-Type', content: 'text/html; charset=UTF-8'}
    %meta{'http-equiv' => 'Content-Language', content: 'en'}
    %title Andrey “A.I.” Sitnik
    %meta{ name: 'Keywords', content: 'Andrey Sitnik, Sitnik, A.I., AI, Андрей Ситник, Ситник' }
    %meta{ name: 'Description', content: 'Andrey “A.I.” Sitnik homepage' }
    %meta{'http-equiv' => 'X-XRDS-Location', content: 'http://iskin.myopenid.com/?xrds=1' }
    %link{ rel: 'openid.server', href: 'http://www.myopenid.com/server' }
    %link{ rel: 'openid.delegate', href: 'http://iskin.myopenid.com/' }
    %link{ rel: 'openid2.provider', href: 'http://www.myopenid.com/server' }
    %link{ rel: 'openid2.local_id', href: 'http://iskin.myopenid.com' }
    %link{ rel: 'shortcut icon', href: '/favicon.ico', type: 'image/x-icon' }
    %link{ rel: 'pavatar', href: 'http://sitnik.ru/pavatar.png' }
  %body
