!!! Strict
%html{ html_attrs('ru') }
  %head
    %meta{'http-equiv' => 'Content-Type', content: 'text/html; charset=UTF-8'}
    %meta{'http-equiv' => 'Content-Language', content: 'ru'}
    %title Андрей «A.I.» Ситник
    %meta{ name: 'Keywords', content: 'Андрей Ситник, Ситник, A.I., AI' }
    %meta{ name: 'Description', content: 'Домашняя страница Андрея «A.I.» Ситника' }
  %body
