!!! Strict
%html{ html_attrs('en') }
  %head
    %meta{'http-equiv' => 'Content-Type', content: 'text/html; charset=UTF-8'}
    %meta{'http-equiv' => 'Content-Language', content: 'en'}
    %title Andrey “A.I.” Sitnik
    %meta{ name: 'Keywords', content: 'Andrey Sitnik, Sitnik, A.I., AI, Андрей Ситник, Ситник' }
    %meta{ name: 'Description', content: 'Andrey “A.I.” Sitnik homepage' }
  %body
