!!! Strict
%html{ html_attrs('ru') }
  %head
    %meta{'http-equiv' => 'Content-Type', content: 'text/html; charset=UTF-8'}
    %meta{'http-equiv' => 'Content-Language', content: 'ru'}
    %title Андрей «A.I.» Ситник
    %meta{ name: 'Keywords', content: 'Андрей Ситник, Ситник, A.I., AI' }
    %meta{ name: 'Description', content: 'Домашняя страница Андрея «A.I.» Ситника' }
    %meta{'http-equiv' => 'X-XRDS-Location', content: 'http://iskin.myopenid.com/?xrds=1' }
    %link{ rel: 'openid.server', href: 'http://www.myopenid.com/server' }
    %link{ rel: 'openid.delegate', href: 'http://iskin.myopenid.com/' }
    %link{ rel: 'openid2.provider', href: 'http://www.myopenid.com/server' }
    %link{ rel: 'openid2.local_id', href: 'http://iskin.myopenid.com' }
    %link{ rel: 'shortcut icon', href: '/favicon.ico', type: 'image/x-icon' }
  %body
