*
  :margin 0
  :padding 0
a:link
  :color #6ba4ad
a:visited
  :color #ad6ba4
a:hover
  :text-decoration none
body
  :font-family "Trebuchet MS", sans-serif
  :background black
  :color white
  :font-size 120%
a img
  :border none
h1
  :margin-bottom 0.5em
.hidden
  :display none
#center
  :width 23em
  :height 12em
  :padding 10px 10px 10px 210px
  :margin 10% auto 0 auto
#image
  :position absolute
  :margin-left -200px
#contacts
  :padding-left 1.5em
  li
    :list-style none
    :padding 0 0 0.3em 8.6em
    :background url(icons.png) no-repeat
    div
      :padding-left 22px
      .label
        :position absolute
        :margin-left -8.6em
        :padding-left 0.4em
        :background black
        :width 8.2em
      a, span
        :background black
  .xmpp
    :background-position  0    0.1em
  .mail
    :background-position -22px 0.1em
  .tel
    :background-position -44px 0.1em
  .adr
    :background-position -66px 0.1em
  .gpg
    :background-position -88px 0.1em
#links
  :width 35em
  :margin 5em auto 0 auto
  li
    :list-style none
    :float left
    :margin 0.75em
#languages
  :position absolute
  :top 1ex
  :right 1ex
  :font-size 85%
