!background = #333

body
  font-family: "Trebuchet MS", sans-serif
*
  margin: 0
  padding: 0
a img
  border: none
.hidden
  display: none
h1
  margin-bottom: 0.5em
@media screen
  body
    background = !background
    color: white
    font-size: 120%
    padding: 10ex 0.5em 0.5em 0.5em
    text-align: center
  h1
    margin-left: 22px
    padding-left: 0.4em
    font-size: 190%
  a:link
    color: #0081de
  a:visited
    color: #3a6d91
  a:hover
    text-decoration: none
  #image
    margin: 0 0.7em 0.7em 0
    display: inline-block
  #contacts
    text-align: left
    display: inline-block
    width: 24em
    max-width: 100%
    vertical-align: top
    li
      list-style: none
      padding-bottom: 0.3em
      .label
        background: url(icons.png) no-repeat
        padding-left: 22px
        float: left
        width: 8.5em
        padding-bottom: 1px
        span
          display: block
          padding-left: 0.6em
          width: 7.9em
          background= !background
          min-height: 23px
    .xmpp .label
      background-position:  0    0.1em
    .mail .label
      background-position: -22px 0.1em
    .tel .label
      background-position: -44px 0.1em
    .adr .label
      background-position: -66px 0.1em
    .gpg .label
      background-position: -88px 0.1em
  #links
    li
      list-style: none
      display: inline-block
      text-align: left
      margin: 2em 0.85em 0 0
      width: 6em
    li.last
      margin-right: 0
  #languages
    position: absolute
    top: 0.5em
    right: 0.5em
    font-size: 85%
@media print
  a
    color: black
    text-decoration: none
  abbr
    border: none
  #image
    position: absolute
    margin-top: 3.4em
  #contacts
    padding-left: 200px
    margin-left: 1.5em
    li
      list-style: none
      padding: 0 0 0.3em 8.6em
      .label
        position: absolute
        margin-left: -8.6em
        width: 8.2em
    .gpg a
      visibility: hidden
    .gpg a:before
      content: attr(href)
      text-decoration: underline
      visibility: visible
  #links
    padding-left: 200px
    margin-left: 1.5em
    li
      list-style: none
      margin-bottom: 0.3em
      a
        visibility: hidden
        position: absolute
        margin-left: 8.6em
      a:before
        content: attr(href) " "
        text-decoration: underline
        visibility: visible
      p:after
        content: ":"
  #languages
    display: none
