@import "evil-front"

*
  margin: 0
  padding: 0
li
  list-style: none
a
  color: #333
  text-decoration: none

body
  color: #333
  background: #f8f8f8
  text-align: center
  font: 15px Cuprum, sans-serif
  text-shadow: 1px 1px 0 white
  +no-tap-highlight

.person
  padding: 10px

.images
  width: 220px
  height: 220px
  position: relative
  margin: 50px auto 60px auto

.mask, .photo
  cursor: pointer

.mask
  position: absolute
  top: 0
  left: -8px
  +image-size("mask.png", 2)
  background-size: 100% 100%

.photo
  display: none
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  border-radius: 50%
  background-size: 100% 100%
  box-shadow: 1px 1px 0 white

.transform-2d
  .mask, .photo
    transition: opacity 800ms, transform 800ms
  .mask
    z-index: 2
  .photo
    display: block
  .photo, .is-real .mask
    transform: scale(0.7)
    opacity: 0
  .is-real .photo, .mask
    transform: scale(1)
    opacity: 1

.transform-3d
  .images
    perspective: 400px
  .mask, .photo
    backface-visibility: hidden
    transition: transform 1.4s $easeOutQuart
  .photo
    display: block
    transform: rotateY(-180deg)

.name
  font-weight: normal
  font-size: 48px
  padding-bottom: 20px

.list
  padding-top: 30px
  font-size: 18px
.piece
  display: inline-block
  margin-right: 50px
  width: 190px + 30px
  text-align: left
  vertical-align: top

.link
  display: inline-block
  padding: 10px 14px 8px 14px
  transition: background 200ms
  position: relative
  +no-hover
    background: black(0)
    transform: none
  &:hover
    background: black(0.04)
  &:active
    transform: translateY(2px)
  &.is-tapped
    transition: none
    transform: scale(0.9)
    background: black(0.04)

.contacts
  .value
    padding-top: 3px
    font-size: 24px
  .label, .value
    transition: color 200ms
  .link
    +no-hover
      .label
        color: #666
      .value
        color: #333
    &.is-tapped
      .label, .value
        transition: none
    &:hover, &.is-tapped
      .label
        color: #333
      .value
        color: black

.links
  .icon
    position: absolute
    left: 10px
    transition: opacity 200ms
  .service
    font-size: 24px
  .dash
    color: #bbb
    padding: 0 4px
  .service, .dash, .login
    transition: color 200ms
  .link
    +no-hover
      .icon
        opacity: 0.75
      .service
        color: #333
      .dash
        color: #bbb
      .login
        color: #666
    &.is-tapped
      .service, .dash, .login
        transition: none
    &:hover, &.is-tapped
      .icon
        opacity: 1
      .service
        color: black
      .dash
        color: #888
      .login
        color: #333

@each $service in github, twitter, vk, facebook
  .#{ $service }
    .link
      padding-left: (image-width("#{ $service }.png") / 2) + 24px
      margin-left: (image-width("#{ $service }.png") / -2) - 14px
    .icon
      top: round((45px - (image-height("#{ $service }.png") / 2)) / 2)
      +image-size("#{ $service }.png", 2)
      background-size: 100% 100%

+sticky-footer(85px, ".languages")

.languages
  padding-top: 85px - 38px
  height: 38px
.lang
  display: inline-block
  margin: 0 0 8px 4px
  padding: 7px 8px
  background: black(0)
  transition: background 200ms, color 200ms
  .text
    display: inline-block
    transition: border 200ms
    line-height: 1
  &:first-child
    margin-left: 0
  +no-hover
    color: #666
    transform: none
    .text
      border-bottom: 1px solid black(0.2)
  &.is-current
    color: #333
    border-bottom: none
  &:hover
    color: #333
    .text
      border-bottom-color: #333
  &:active
    transform: translateY(2px)
  &.is-tapped
    transition: none
    transform: scale(0.9)
    background: black(0.04)
    color: black
