.link
  display: inline-block
  position: relative
  text-decoration: none
  color: rgb(24, 124, 255)

.link::before
  content: ""
  position: absolute
  left: -5px
  right: -5px
  bottom: 0
  top: 0
  border-radius: 0.3em
  background: rgba(24, 124, 255, 0.2)
  transform: scaleY(0.06)
  transform-origin: 0 100% 0
  transition: transform 200ms

.link:hover::before
  transform: none
