.globe
  display: flex
  flex-direction: column
  min-height: calc(100vh - 30px - 112px - 80px)
  justify-content: center
  align-items: center
  padding: 40px 0

.globe_loading
  width: 27vw
  height: 27vw
  background: linear-gradient(to bottom right, #f8f8f8, #ececec)
  border-radius: 50%
