doctype html
html( lang="en" itemtype="https://schema.org/Person" itemscope )
  head
    if typeof mainPage !== 'undefined'
      script if(/^ru/.test(navigator.language))location.pathname='/ru/index.html'
    title Andrey Sitnik
    include ../head.pug
  body
    .layout
      .layout_globe
        .layout_language
          a.link( href="/ru/index.pug" hreflang="ru" rel="alternate" ) Русский
        h1.layout_title
          span( itemprop="givenName" ) Andrey
          = ' '
          span( itemprop="familyName" ) Sitnik
      .layout_links
        .contacts
          div
            a.link( href="mailto:andrey@sitnik.ru" itemprop="email" )
              | andrey@sitnik.ru
            .contacts_notes
              a.link( href="https://keybase.io/iskin" itemprop="sameAs" title="Public key for GnuPG to verify my signature or encrypt message for me" )
                | GPG 1F710E4D
          div
            a.link( href="tel:+19143123913" itemprop="telephone" )
              | +1 914 312 3913
            .contacts_notes
              a.link( href="https://wa.me/19143123913" itemprop="sameAs" )
                | WhatsApp
              = ' '
              a.link( href="weixin://dl/chat?andrey_sitnik" itemprop="sameAs" )
                | WeChat
              = ' '
              a.link( href="https://t.me/sitnik" itemprop="sameAs" )
                | Telegram
    script( src="/index.js" )
