doctype html
html( lang="en" itemtype="https://schema.org/Person" itemscope )
  head
    if typeof mainPage !== 'undefined'
      script( async )
        | if(/^ru/.test(navigator.language))location.pathname='/ru/index.html'
    title Andrey Sitnik
    include ../head.pug
  body
    .layout
      .layout_globe
        .layout_language
          a.link( href="/ru/index.pug" hreflang="ru" rel="alternate" ) Русский
        h1.layout_title
          span( itemprop="givenName" ) Andrey
          = ' '
          span( itemprop="familyName" ) Sitnik
      .layout_links
  
        .contacts
          div
            a.link( href="mailto:andrey@sitnik.ru" itemprop="email" )
              | andrey@sitnik.ru
            .contacts_notes
              a.link( href="https://keybase.io/iskin" itemprop="sameAs" title="Public key for GnuPG to verify my signature or encrypt message for me" )
                | GPG 1F710E4D
          div
            a.link( href="tel:+19143123913" itemprop="telephone" )
              | +1 914 312 3913
            .contacts_notes
              a.link( href="https://wa.me/19143123913" itemprop="sameAs" )
                | WhatsApp
              = ' '
              a.link( href="weixin://dl/chat?andrey_sitnik" itemprop="sameAs" )
                | WeChat
              = ' '
              a.link( href="https://t.me/sitnik" itemprop="sameAs" )
                | Telegram

        link( href="http://twitter.com/andrey_sitnik" itemprop="sameAs" )
        link( href="https://vk.com/iskin" itemprop="sameAs" )
        ul.projects
          li.projects_item
            h2.projects_title
              | Twitter
              .projects_links
                a.link( href="http://twitter.com/andreysitnik" itemprop="sameAs" )
                  | Full with NSFW
                a.link( href="http://twitter.com/sitnikcode" itemprop="sameAs" )
                  | code only
            p.projects_desc
              | My notes about sex, travels, and technologies
          li.projects_item
            h2.projects_title
              a.link( href="https://github.com/ai" itemprop="sameAs" )
                | GitHub
            p.projects_desc
              | I created Autoprefixer, PostCSS, Browserslist, Nano ID, and Size Limit
          li.projects_item
            h2.projects_title
              a.link( href="https://www.instagram.com/sitnikandrey/" itemprop="sameAs" )
                | Instagram
            p.projects_desc
              | Photos from travels and henna body paiting
          li.projects_item
            h2.projects_title
              a.link( href="http://twitter.com/lostinwiki" )
                | Lost in Wikipedia
            p.projects_desc
              | My Twitter account with interesting Wikipedia articles
          li.projects_item
            h2.projects_title
              a.link( href="http://twitter.com/linguopunk" )
                | Linguopunk
            p.projects_desc
              | My Twitter account about unusual languages

    script( src="/index.js" )
