- var root = typeof mainPage !== 'undefined' ? './' : '../'

doctype html
html( lang="en" itemtype="https://schema.org/Person" itemscope )
  head
    if typeof mainPage !== 'undefined'
      script if(/^ru/.test(navigator.language))location.pathname='/ru/index.html'
    title Andrey Sitnik
    include ../head.pug
  body
    a( href=root + 'ru/index.pug' hreflang="ru" rel="alternate" )
    h1
      span( itemprop="givenName" ) Andrey
      = ' '
      span( itemprop="familyName" ) Sitnik
    script( src=root + 'index.js' )
