doctype html
html( lang="en" itemtype="https://schema.org/Person" itemscope )
  head
    title Andrey Sitnik
    meta( name="description" content="Contacts and projects of Andrey Sitnik" )
    include ../head.pug
  body
    .layout
      .layout_globe
        
        a.photo( href="/photo/andreysitnik.jpg" target="_blank" )
          picture.photo_image
            source( srcset="/photo/photo.webp" type="image/webp" )
            img.photo_image( src="/photo/photo.jpg" alt="Andrey Sitnik photo" itemprop="image" )

        h1.layout_title
          span( itemprop="givenName" ) Andrey
          = ' '
          span( itemprop="familyName" ) Sitnik

        .globe
          .globe_earth
            .globe_loading

          button.globe_location( itemprop="address" itemscope itemtype="https://schema.org/PostalAddress" tabindex="-1" )
            span( itemprop="addressLocality" ) New York
            = ', '
            span( itemprop="addressCountry" ) USA

      .layout_links
  
        .contacts
          .contacts_contact
            a.link( href="mailto:andrey@sitnik.ru" itemprop="email" )
              | andrey@sitnik.ru
            .contacts_notes
              a.link( href="https://keybase.io/iskin" itemprop="sameAs" title="Public key for GnuPG to verify my signature or encrypt message for me" )
                | GPG 1F710E4D
          .contacts_contact
            a.link.is-text( href="tel:+19143123913" itemprop="telephone" )
              | +1 914 312 3913
            .contacts_notes
              a.link( href="https://wa.me/19143123913" itemprop="sameAs" )
                | WhatsApp
              = ' '
              a.link( href="weixin://dl/chat?andrey_sitnik" itemprop="sameAs" )
                | WeChat
              = ' '
              a.link( href="https://t.me/sitnik" itemprop="sameAs" )
                | Telegram

        link( href="https://twitter.com/andrey_sitnik" itemprop="sameAs" )
        link( href="https://vk.com/iskin" itemprop="sameAs" )
        ul.projects
          li.projects_item
            h2.projects_title
              span.projects_name Twitter
              ul.projects_links
                li.projects_link
                  a.link( href="https://twitter.com/andreysitnik" itemprop="sameAs" )
                    | Full with NSFW
                li.projects_link
                  a.link( href="https://twitter.com/sitnikcode" itemprop="sameAs" )
                    | code only
            p
              | My notes about sex, travels, and technologies
          li.projects_item
            h2.projects_title
              a.link( href="https://github.com/ai" itemprop="sameAs" )
                | GitHub
            p
              | I created Autoprefixer, PostCSS, Browserslist, Nano ID, and Size Limit
          li.projects_item( itemprop="worksFor" itemscope itemtype="http://schema.org/Organization" )
            h2.projects_title
              a.link( href="https://evilmartians.com/" itemprop="url" )
                | Evil Martian
            p
              = 'I am lead front-end developer in '
              span( itemprop="name" ) Evil Martians
          li.projects_item
            h2.projects_title
              a.link( href="https://www.instagram.com/sitnikandrey/" itemprop="sameAs" )
                | Instagram
            p
              | Photos from travels and henna body painting
          li.projects_item
            h2.projects_title
              a.link( href="https://twitter.com/lostinwiki" )
                | Lost in Wikipedia
            p
              | My Twitter account with interesting Wikipedia articles
          li.projects_item
            h2.projects_title
              a.link( href="https://twitter.com/linguopunk" )
                | Linguopunk
            p
              | My Twitter account about unusual languages
              
      .layout_language
        a.link( href="/ru/index.pug" hreflang="ru" rel="alternate" ) Русский

    script( src="/index.js" )
