meta( charset="UTF-8" )
meta( name="viewport" content="width=device-width" )

link( rel="preload" href="/earth/earth.js" as="script" media="(min-width:980px)" )
link( rel="preload" href="/earth/map.png" as="image" media="(min-width:980px)" crossorigin="anonymous" )
link( rel="preload" href="/earth/here.svg" as="image" media="(min-width:980px)" crossorigin="anonymous" )
link( rel="preload" href="https://evilmartians.com/locations/ai" as="fetch" crossorigin="anonymous" )
link( rel="preconnect" href="https://maps.googleapis.com" )

link( itemprop="sameAs" href="https://www.facebook.com/andrey.sitnik" )
meta( itemprop="gender" content="male" )
link( itemprop="url" href="https://sitnik.ru" )

link( rel="stylesheet" href="/index.sss" )
