link( rel="shortcut icon" href="/base/32.png" sizes="32x32" )
link( rel="icon" href="/base/196.png" sizes="196x196" )
meta( name="viewport" content="width=device-width" )

link( rel="preload" href="/earth/worker.js" as="script" )
link( rel="preload" href="/earth/map.webp" as="image" )
link( rel="preload" href="/earth/here.webp" as="image" )
link( rel="preload" href="https://evilmartians.com/locations/ai" as="fetch" crossorigin )
link( rel="preconnect" href="https://maps.googleapis.com" )

link( itemprop="sameAs" href="https://www.facebook.com/andrey.sitnik" )
meta( itemprop="gender" content="male" )
link( itemprop="url" href="https://sitnik.ru" )

link( rel="stylesheet" href="/index.sss" )
