meta( charset="UTF-8" )
meta( name="viewport" content="width=device-width" )
link( rel="canonical" href="https://sitnik.ru" )
link( rel="stylesheet" href="/index.sss" )
link( itemprop="url" href="https://sitnik.ru" )
