@import "./link/link.sss"
@import "./layout/layout.sss"
@import "./contacts/contacts.sss"

*
  padding: 0
  margin: 0

body
  font-family: Arial, sans-serif
  line-height: 1.4

a:active
  transform: scale(0.9)

@media (prefers-reduced-motion: reduce)
  *
    transition: none !important
