body
  background-image: inline("noise.png")

.mask
  background-image: inline("mask.png")

@each $service in github, twitter, vk, facebook
  .#{ $service } .icon
    background-image: inline("#{ $service }.png")
