*
  padding: 0
  margin: 0

body
  font-family: Arial, sans-serif
  line-height: 1.4

a:active
  transform: scale(0.9)

a:focus
  outline: none

a::-moz-focus-inner
  border: 0

@media (prefers-reduced-motion: reduce)
  *,
  *::before
    transition: none !important
