link( rel="icon" href="../base/32.png" sizes="32x32" )
link( rel="icon" href="../base/196.png" sizes="196x196" )
link( rel="apple-touch-icon" href="../base/apple.png" )
meta( name="viewport" content="width=device-width" )
meta( name="color-scheme" content="dark light" )

link( itemprop="sameAs" href="https://www.facebook.com/andrey.sitnik" )
meta( itemprop="gender" content="male" )
link( itemprop="url" href="https://sitnik.ru" )

link( rel="stylesheet" href="../index.sss" )
