name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Install asdf
        uses: asdf-vm/actions/setup@v1
      - name: Cache asdf
        id: asdf-cache
        uses: actions/cache@v3
        with:
          path: ~/.asdf
          key: asdf-${{ hashFiles('**/.tool-versions') }}
      - name: Install asdf tools
        if: steps.asdf-cache.outputs.cache-hit != 'true'
        uses: asdf-vm/actions/install@v1
      - name: Cache pnpm modules
        uses: actions/cache@v3
        env:
          cache-name: cache-pnpm-modules
        with:
          path: ~/.local/share/pnpm/
          key: pnpm-${{ hashFiles('pnpm-lock.yaml') }}
      - name: Install all dependencies
        run: pnpm install --frozen-lockfile
      - name: Build and test
        run: pnpm test
        env:
          FORCE_COLOR: 2

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs:
      - test
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Install asdf
        uses: asdf-vm/actions/setup@v1
      - name: Cache asdf
        uses: actions/cache@v3
        with:
          path: ~/.asdf
          key: asdf-${{ hashFiles('**/.tool-versions') }}
      - name: Cache pnpm modules
        uses: actions/cache@v3
        env:
          cache-name: cache-pnpm-modules
        with:
          path: ~/.local/share/pnpm/
          key: pnpm-production-${{ hashFiles('pnpm-lock.yaml') }}
      - name: Cache location
        continue-on-error: true
        uses: actions/cache@v3
        with:
          path: ./scripts/location/
          key: location
      - name: Install build dependencies
        run: pnpm install --frozen-lockfile --production --ignore-scripts
      #- name: Update location
      #  run: ./scripts/update-location.js
      #  env:
      #    GMAPS_TOKEN: ${{ secrets.GMAPS_TOKEN }}
      #    FORCE_COLOR: 2
      - name: Build static files
        run: pnpm build
        env:
          FORCE_COLOR: 2
      - name: Check files changes
        id: hash
        run: ./node_modules/.bin/ssdeploy changed
        env:
          WEBSITE_URL: ${{ secrets.WEBSITE_URL }}
          FORCE_COLOR: 2
      - name: Auth Google Cloud
        if: "!steps.hash.outputs.noChanges"
        uses: google-github-actions/auth@v0
        with:
          credentials_json: ${{ secrets.GCLOUD_AUTH }}
      - name: Install Google Cloud
        if: "!steps.hash.outputs.noChanges"
        uses: google-github-actions/setup-gcloud@v0
      - name: Deploy files
        if: "!steps.hash.outputs.noChanges"
        run: ./node_modules/.bin/ssdeploy deploy --verbose
        env:
          GCLOUD_APP: ${{ secrets.GCLOUD_APP }}
          GCLOUD_PROJECT: ${{ secrets.GCLOUD_PROJECT }}
          CLOUDFLARE_ZONE: ${{ secrets.CLOUDFLARE_ZONE }}
          CLOUDFLARE_TOKEN: ${{ secrets.CLOUDFLARE_TOKEN }}
          FORCE_COLOR: 2
