name: Update location
on:
  push:
    branches:
      - none
  # schedule:
  #   - cron: '28 * * * *'
permissions:
  contents: read
  deployments: write
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Install tools from asdf config
        uses: ai/asdf-cache-action@v1
        with:
          dependencies-cache: production
      - name: Check location
        id: location
        run: ./scripts/check-location.js
      - name: Install build dependencies
        if: steps.location.outputs.updated
        run: pnpm install --frozen-lockfile --production
      - name: Update location
        if: steps.location.outputs.updated
        run: ./scripts/update-location.js
        env:
          GMAPS_TOKEN: ${{ secrets.GMAPS_TOKEN }}
      - name: Build static files
        if: steps.location.outputs.updated
        run: pnpm build
      - name: Auth Google Cloud
        if: steps.location.outputs.updated
        uses: google-github-actions/auth@v0
        with:
          credentials_json: ${{ secrets.GCLOUD_AUTH }}
      - name: Install Google Cloud
        if: steps.location.outputs.updated
        uses: google-github-actions/setup-gcloud@v0
      - name: Deploy files
        if: steps.location.outputs.updated
        run: pnpx ssdeploy deploy
        env:
          GCLOUD_APP: ${{ secrets.GCLOUD_APP }}
          GCLOUD_PROJECT: ${{ secrets.GCLOUD_PROJECT }}
          CLOUDFLARE_ZONE: ${{ secrets.CLOUDFLARE_ZONE }}
          CLOUDFLARE_TOKEN: ${{ secrets.CLOUDFLARE_TOKEN }}
