.layout
  display: flex

.layout_globe,
.layout_links
  position: relative
  min-height: 100vh
  width: 50vw
  padding: 15px 25px
  box-sizing: border-box

.layout_language
  position: absolute
  bottom: 17px
  left: 20px
  font-size: 70%

.layout_title
  font-size: 200%
  text-align: center
  font-weight: normal
